@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.neo-brutalist-box {
  @apply border-4 border-text-light dark:border-text-dark shadow-[8px_8px_0_0_theme(colors.text.light)] dark:shadow-[8px_8px_0_0_theme(colors.text.dark)];
}

.neo-brutalist-button {
  @apply font-mono py-2 px-4 border-4 border-text-light dark:border-text-dark shadow-[4px_4px_0_0_theme(colors.text.light)] dark:shadow-[4px_4px_0_0_theme(colors.text.dark)] hover:translate-x-[4px] hover:translate-y-[4px] hover:shadow-none transition-all;
}